.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: black;

    span {

        &:first-child{
            font-weight: bold;
        }

        &:last-child{
            font-size: 14px;
        }
    }
}